.PostedAt {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 3px;
  color: var(--grey99);
}

.PublishedAt {
  display: none;
  color: var(--grey99);
}

@media all and (min-width: 1024px) {
  .PostedAt {
    font-size: 14px;
    order: 0;
    margin: 0;
  }

  .PublishedAt {
    display: inline;
    font-size: 14px;
    margin-right: 3px;
  }
}